body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: #e7e7de;
  padding: 0.1px;
}

.site-container {
  max-width: 1000px;
  padding: inherit;
  margin: auto;
  background-color: whitesmoke;
}

input {
  width: 15px;
  /* border-width: 1px; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.divider-container{
  display: flex;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.divider-border{
  border-bottom: 2px solid black;
  width: 100%;
}

.divider-content {
  padding: 0 20px 0 20px;
}


.matchdivider-border {
  border-bottom: 1px dashed black;
  width: 100%;
}

.flag {
  height: 30px;
  width: 30px;
  padding-right: 2px;
  padding-left: 2px;
  float: left;
}

.site-header {
  text-align: center;
}

.group-flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}

.group-games {
  flex: 1;
  font-size: 14px;
  padding: 5px;
  margin: 20px;
  margin-right: auto;
  border: 1px solid darkslategray;
  border-radius: 10px;
  box-shadow: 0 0 3px black, 0 0 5px black;
  background-color: #cfd3ce;
}

.group-game-header {
  text-align: left;
}

.group-game-date {
  width: 120px;
  padding-right: 0px;
}

.group-game-home {
  text-align: right;
  padding-left: 3px;
  width: 100px;
}

.group-game-away {
  text-align: left;
  width: 100px;
}

.group-game-colon {
  width: 3px;
  padding: 0px;
}

.group-standing-container {
  flex: 1;
  display: flex;
  justify-content: center;
  /* background-color: blue;
  margin: 20px; */
}

#group-standings {
  border-collapse: collapse;
  margin: 20px;
  /* flex: 1; */
  min-width: 90%;
  align-self: center;
  font-size: 14px;
  background-color: #cfd3ce;
}

#group-standings td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 8px;
}

/* #group-standings tbody:nth-child(even){background-color: lightgray;} */

/* #group-standings tr:hover {background-color: #ddd;} */

#group-standings th {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: darkgreen;
  color: white;
}

.group-standings-team-and-flag {
  display: flex;
  align-items: center;
  justify-items: center;
  border-left: 1px solid black;
}

.group-standings-team {
  min-width: 35%;
  table-layout: fixed;
  text-align: left;
  /* display: flex;
  align-items: center;
  justify-items: center; */
}

.group-standings-goals {
  width: 8%;
  white-space: nowrap;
}

.group-standings-matches {
  width: 10%;
}

@media (max-width: 1000px) {
  .group-game-date {
    max-width: 80px;
    margin-right: 0px;
  }
}

@media (max-width: 800px) {
  /* .group-games, #group-standings {
    flex: 1;
  } */
  
  .site-container {
    width: auto;
  }

  .group-game-home {
    margin-left: 5px;
    width: 0px;
  }

  .group-games {
    /* margin-left: 5px;
    margin-right: 5px; */
    max-width: min-content;
    padding: 10px;
    margin-left: auto;
  }
  /* .group-game-date {
    max-width: 80px;
    padding-right: 0px;
  } */
}